
Codes/tikz/coupling-wobbling-diagrams/main.aux
Codes/tikz/coupling-wobbling-diagrams/main.fdb_latexmk
Codes/tikz/coupling-wobbling-diagrams/main.fls
Codes/tikz/coupling-wobbling-diagrams/main.log
Codes/tikz/coupling-wobbling-diagrams/main.synctex.gz
Codes/tikz/coupling-wobbling-diagrams/main.synctex(busy)
Codes/tikz/coupling-wobbling-diagrams/main.pdf
